@import "tailwindcss";

/* RTL Support */
[dir='rtl'] {
  direction: rtl;
}

[dir='ltr'] {
  direction: ltr;
}

body {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  font-feature-settings: 'rlig' 1, 'calt' 1;
}

html {
  scroll-behavior: smooth;
}

@keyframes rotateSlow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}